html{
	scroll-behavior: smooth;
}
body{
	background-color:#F2EDD7FF;
	background-size:cover;
}

.nav-link{
	transition-duration:0.5s;
}

.nav-link:hover{
	background-color:grey;
	
}

.navbar .navbar-nav .active>.nav-link {
    border-bottom: 5px solid #F4C127;	
}

.navbar {
	background-color:white;
}

.navbar-toggler{
	border-color: black;
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


img:hover{
	opacity:0.5;
}

span.read_more_button,.read_more_button1,.read_less_button,.read_less_button1{
	padding:0 8px;
	cursor: pointer;
	color:#755139FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

span.read_more_button:hover{
	color:#F2EDD7FF;
	background-color:#755139FF;
}
span.read_more_button1:hover{
	color:#F2EDD7FF;
	background-color:#755139FF;
}


span.read_less_button:hover{
	color:#F2EDD7FF;
	background-color:#755139FF;
}
span.read_less_button1:hover{
	color:#F2EDD7FF;
	background-color:#755139FF;
}


hr{
	background-color:#755139FF;
	height:5px;
}

p, .thick{
	font-weight:700;
}

p{
	color:#755139FF;
}

.txt_second{
	color:#F2EDD7FF;
}


@media screen and (max-width:767px){
	iframe{
		height:400px;
	}
	
	.navbar{
		background-color:#F2EDD7FF;
	}
}
