html{
	scroll-behavior: smooth;
}

body{
	background-color:#F2EDD7FF;
	background-size:cover;
	font-family:"Source Sans Pro", "Source Serif Pro";
}

.bg_second{
	background-color:#755139FF;
}

.txt_second{
	color:#F2EDD7FF;
}

.thick{
	font-weight:700;
}

p {
	font-weight: bold;
	color:#755139FF;
}

.navbar .navbar-nav .active>.nav-link {
    border-bottom: 5px solid #F4C127;	
}

.navbar {
	background-color:white;
}

.navbar-toggler{
	border-color: black;
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link{
	transition-duration:0.5s;
}

.nav-link:hover{
	background-color:grey;
	
}

.index_signup{
	color: #FFEB96;
	background-color: #001B42;
	padding: 30px 30px 75px 30px;
	right:0;
	z-index: 1;
	position: absolute;
	width: 40%;
	height: 100%;
	overflow: auto;
}

.index_signup p{
	color: #F2EDD7FF;
}

img:hover{
	opacity:0.5;
}

span.style{
	background-color:#755139FF;
	padding:6px 12px;
	cursor: pointer;
	color:#F2EDD7FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

span.style1{
	padding:6px 12px;
	cursor: pointer;
	color:#755139FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

span.style:hover{
	background-color:#572B00;
}

span.style1:hover{
	color:#F2EDD7FF;
	background-color:#755139FF;
}

.style{
	background-color:#755139FF;
	padding:6px 12px;
	cursor: pointer;
	color:#F2EDD7FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

.style:hover{
	color:#755139FF;
	background-color:#F2EDD7FF;
}

hr{
	background-color:#755139FF;
	height:5px;
}


.rtl{
	margin-right:55px;
}

@media screen and (max-width:769px){
	.navbar{
		background-color:#F2EDD7FF;
	}
	
	img.resize{
		width: 350px;
	}
	
	.rtl{
		margin-right: 0;
	}
	
}

@media screen and (max-width:960px){
	.index_signup{
		display: none;
	}
}

