.nav-link{
	transition-duration:0.5s;
}

.nav-link:hover{
	background-color:grey;
	
}

span.style{
	color:#F6D757;
	border:solid #F6D757;
	transition-duration:0.4s;
}

span.style:hover{
	background-color:darkviolet;
}
hr{
	background-color:#F6D757;
}

@media screen and (max-width:767px){
	.large_screen{
		display:none;
	}
}

@media screen and (min-width:768px){
	.small_screen{
		display:;
	}
}