.nav-link{
	transition-duration:0.5s;
}

.nav-link:hover{
	background-color:grey;
	
}

span.style{
	background-color:maroon;
	padding:4px 10px;
	cursor: pointer;
	color:#F6D757;
	border:solid #F6D757;
	transition-duration:0.4s;
}

span.style:hover{
	background-color:darkviolet;
}
hr{
	background-color:#F6D757;
}

p{
	color:white;
}

.bright{
	border-right: 5px solid white;
}

.bleft{
	margin-left: 5px;
	border-left: 5px solid white;
}
