html{
	scroll-behavior: smooth;
}

body{
	background-color:#F2EDD7FF;
	background-size:cover;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.bg_second{
	background-color:#755139FF;
}

.txt_second{
	color:#F2EDD7FF;
}

p, .thick{
	font-weight:700;
}

.typewriter h1 {
  color:black;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space:normal; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.navbar .navbar-nav .active>.nav-link {
    border-bottom: 5px solid #F4C127;	
}

.navbar {
	background-color:white;
}

.navbar-toggler{
	border-color: black;
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link{
	transition-duration:0.5s;
}

.nav-link:hover{
	background-color:grey;
	
}

img:hover{
	opacity:0.5;
}

span.style{
	background-color:#755139FF;
	padding:10px 18px;
	cursor: pointer;
	color:#F2EDD7FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

span.style1{
	padding:6px 12px;
	cursor: pointer;
	color:#755139FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

span.style:hover{
	background-color:#572B00;
}

span.style1:hover{
	background-color:#3D78FC;
}

.style{
	background-color:#755139FF;
	padding:6px 12px;
	cursor: pointer;
	color:#F2EDD7FF;
	border:solid #755139FF;
	transition-duration:0.4s;
}

.style:hover{
	color:#755139FF;
	background-color:#F2EDD7FF;
}

hr{
	background-color:#755139FF;
	height:5px;
}

p{
	color:#755139FF;
}

.rtl{
	margin-right:55px;
}

@media screen and (max-width:769px){
	.navbar{
		background-color:#F2EDD7FF;
	}
}

